@import url(http://fonts.googleapis.com/css?family=Montserrat);
body{font-family: 'Montserrat', sans-serif;}
header.jumbotron h1 {font-size:2em;}
main h2 {font-size:1.8em;}
main ul {font-size:1.5em;}

#logging-io {
    position: absolute;
    right: 30px;
    top: 20px;
}