<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="description" content="Créer gratuitement sa première application web avec Flask et Google App Engine">
      <meta name="author" content="Joël Viellepeau">
      <title>flask | appengine</title>
      <link rel="icon" href="favicon.ico">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link href="css/style.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body class="container-fluid">

    <header class="jumbotron text-center">
      <h1> Créer votre première application web avec Flask et Google App Engine </h1>
    </header>

    <main class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>#1 Pré-requis :</h2>
          <ul>
            <li><a href="https://www.python.org/downloads/">Installer Python <span style="color:tomato">2</span>.7.9</a></li>
            <li><a href="https://cloud.google.com/appengine/downloads">Installer Google App Engine SDK for Python</a></li>
            <li><a href="https://appengine.google.com">Créer une application sur appengine.google.com</a></li>
          </ul>
          <hr>
          <h2>#2 Téléchargez un modèle pour débuter rapidement : </h2>
          <ul>
            <li><a href="https://github.com/viellepeau/flask-appengine">Clonez ce site web depuis github</a></li>
          </ul>
          <hr>
          <h2>#3 Testez l'application en local et mettez la en ligne : </h2>
          <ul>
            <li>Ouvrez un terminal et lancez le serveur de développement via la commande <em>dev_appserver.py .</em></li>
            <li>Ouvrez votre navigateur internet et cherchez l'url suivante : <a href="http://localhot:8080">http://localhost:8080</a></li>
            <li>La base de données (datastore) est accessible à l'url : <a href="http://localhot:8000">http://localhost:8000</a></li>
            <li>Ouvrez le fichier <em>app.yaml</em> et indiquez le nom de l'application créée sur appengine.google.com</li>
            <li>Mettez en ligne votre application via la commande <em>appcfg.py update .</em></li>
          </ul>
        </div>

        <div class="col-md-6 text-center"><img src="img/technos.jpg" alt="technologies" class="img-responsive"></div>
      </div>
    </main>

    <!--  Bouton pour se connecter à l'application avec un compte google -->    
    <div id="logging-io">
      <!--  Si l'utilisateur n'est pas connecté avec son compte google ou s'il n'a pas encore accordé les droits à application : --> 
      {% if not user %}
        <a href="{{login_url}}" class="btn btn-warning">Connexion</a>
      <!--  Sinon --> 
      {% else %}
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="glyphicon glyphicon-user"></span>
          {{user.email()}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <!--  Page de profil utilisateur à créer --> 
          <li><a href="#">Voir mon profil</a></li>
          <li class="divider"></li>
          <li><a href="{{logout_url}}">Déconnexion</a></li>
        </ul>
      </div>
      {% endif %}
    </div>

  </body>
</html>